@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

.background {
    background-image: linear-gradient(45deg,rgb(31, 43, 101) , rgb(249, 205, 218));
    font-family: raleway;
    color: whitesmoke;
    height: 100%;
}

.calculator