@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

.background{
    background-image: linear-gradient(45deg,rgb(31, 43, 101) , rgb(249, 205, 218));
    text-align: center;
    font-family: raleway;
    color: whitesmoke;
    height: 100vh;
}

.calculator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}


.button{
    font-size: 15px;
    height: 50px;
    margin: 1.5px;
    width: 50px;
    border: none;
    background-color: antiquewhite;
    cursor: pointer;
}

.equal{
    height: 106px;
}

.zero{
    width: 106px;
}

.button:hover{
    background-color: rgb(114, 231, 192);
}

#input {
    padding: 5px;
    width: 208px;
    height: 30px;
    margin: 1.5px;
    font-size: 25px;
    background-color: antiquewhite;
    color: black;
    text-align: right;
}